---
import FormCategories from "../components/FormCategories.astro";
import ListCategories from "../components/ListCategories.astro";
---

<section>
  <ListCategories />
  <FormCategories />
</section>
