---
import Categories from "@/dashboard/sections/Categories.astro";
import HeaderD from "@/dashboard/sections/HeaderD.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Dashboard">
  <!-- HEADER -->
  <HeaderD />

  <main class="max-w-4xl mx-auto mt-10">
    <Categories />
  </main>
</Layout>
