---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/Hero.astro";
---

<Layout
  title="Finanzas Personales"
  description="Aprende a gestionar tus finanzas personales efectivamente."
>
  <div class="w-full max-w-7xl mx-auto">
    <Header />
    <Hero />
  </div>
</Layout>
