<div
  class="min-h-screen w-full relative"
  style={{
    background: "#f2f2f2",
    backgroundImage: `
        radial-gradient(
          circle at top center,
          rgba(56, 193, 182, 0.5),
          transparent 70%
        )
      `,
    filter: "blur(80px)",
    backgroundRepeat: "no-repeat",
  }}
>
</div>
<div
  class="absolute inset-0 z-0"
  style={{
    backgroundImage: `
        linear-gradient(to right, #99999940 1px, transparent 1px),
        linear-gradient(to bottom, #99999940 1px, transparent 1px)
      `,
    backgroundSize: "20px 30px",
    WebkitMaskImage:
      "radial-gradient(ellipse 70% 60% at 50% 0%, #000 60%, transparent 100%)",
    maskImage:
      "radial-gradient(ellipse 70% 60% at 50% 0%, #000 60%, transparent 100%)",
  }}
>
</div>
