---
import Logo from "@/assets/logo.svg";
---

<header
  class="absolute top-0 left-0 right-0 p-4 flex justify-between items-center w-full max-w-5xl mx-auto"
>
  <a href="/" class="inline-flex items-center gap-2">
    <Logo class="w-12 h-auto aspect-square" />
    <span class="text-xl font-semibold">Fns</span>
  </a>
  <div class="nav"></div>
  <div class="actions flex gap-2 items-center">
    <button class="btn btn-secondary">Sign Up</button>
    <button class="btn btn-primary">Sign In</button>
  </div>
</header>
