---

---

<main class="px-4">
  <section class="min-h-screen flex justify-center items-center">
    <div class="flex flex-col items-center gap-2 text-center max-w-3xl">
      <h1 class="font-cormorant mb-4 text-balance uppercase">
        <span class="uppercase font-extrabold">OmniFi</span> Mejora tus Finanzas
        Personales
      </h1>
      <p class="text-base md:text-lg text-gray-600 text-pretty lg:text-2xl">
        Gestiona tus finanzas de manera sencilla. Controla tus gastos, ahorra
        más. Toma el control ¡Empieza hoy mismo!
      </p>
      <div class="mt-10">
        <button id="link-hero" class="btn btn-primary text-xl md:text-2xl block"
          >Cargando...
        </button>
      </div>
    </div>
  </section>
</main>

<style>
  h1 {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    line-height: 1;
    font-weight: 600;
  }
</style>

<script>
  import { getUserInfo } from "@/lib/getInfoUser";
  const $linkHero = document.getElementById("link-hero") as HTMLButtonElement;

  const userInfo = await getUserInfo();

  if (userInfo) {
    $linkHero.textContent = "Ir al Panel";
    $linkHero.addEventListener("click", () => {
      window.location.href = "/dashboard";
    });
  } else {
    $linkHero.textContent = "Comenzar Ahora";
    $linkHero.addEventListener("click", () => {
      const dialog = document.getElementById(
        "dialog-signIn",
      ) as HTMLDialogElement;
      dialog.showModal();
    });
  }
</script>
